### JUCE ###

Builds/
JuceLibraryCode/

### Other ###

# audiopluginhost files
*.filtergraph

daw\ testing/
personal\ notes/

### Notes ###
ADDING-MODULATABLEFLOAT.md
QUESTIONS.md
PLAN.md
TOGGLE-BUTTON-BUFFER.md